html, body{
	margin:0;
	font-family: 'Raleway', sans-serif;
}
nav{
	background-color:black;
	height:50px;
}
.logo{
	color:white;
	margin:0 0 0 10px;
	padding:16px;
	font-weight:lighter;
	font-size:16px;
	letter-spacing: 1px;
}
.note-title{
	margin:10px;
	display:block;
	text-decoration: none;
	color:black;
	border:1px solid grey;
	max-width:350px;
	padding:10px;
	border-radius:10px;
}
.note-title:hover{
	background-color:#6c757d;
	text-decoration: none;
	color:white;
}
textarea{
	min-width:400px;
	min-height:200px;
	border-radius:10px;
	padding:5px 10px 10px 10px;
}
.input-group{
	max-width:400px;
	margin:auto;
}
a:hover{
	text-decoration:none;
	color:orange;
}
