html, body{
	margin:0;
	font-family: 'Raleway', sans-serif;
}
nav{
	background-color:black;
	height:50px;
}
.logo{
	color:white;
	margin:0 0 0 10px;
	padding:16px;
	font-weight:lighter;
	font-size:16px;
	letter-spacing: 1px;
}
.note-title{
	margin:10px;
	display:block;
	text-decoration: none;
	color:black;
	border:.5px solid lightgrey;
	max-width:450px;
	padding:10px;
	border-radius:3px;
	text-align:left;
	padding-left:15px;
}
.note-title:hover{
	background-color:orange;
	border:1px solid orange;
	text-decoration: none;
	color:white;
	cursor: pointer;
}
.note-date{
	text-align:right;
	font-size:11px; 
	letter-spacing: 1px;
	margin:10px 0 0 0;
}
.note-title:hover .note-date{
	color:white;
}
.note-title:hover a{
	color:white;
}
textarea{
	min-width:400px;
	min-height:200px;
	border-radius:3px;
	padding:5px 10px 10px 10px;
}
.input-group{
	max-width:400px;
	margin:auto;
}
a:hover{
	text-decoration:none;
	color:white;
}
a{
	color:black;
}
#button-addon2:hover, #enter-note:hover, #remove-note:hover{
	background-color:orange;
	border:1px solid orange;
}
.day-day{
	max-width:400px;
	margin:auto;
}
.time-created-note{
	text-align:right;
	font-size:12px;
	letter-spacing: 1px;
}
#mySelect{
	border-radius:2px;
	border:1px solid lightgrey;
}
#remove-note:hover{
	background-color:red;
	border:1px solid red;
}